

#logo{
    width: auto;
   height: 80px;
   margin:20px;
}

#linkTo{
    text-decoration: none;
}

#linkTo:hover, #linkTo:active{
    text-decoration: overline;
}

#linkNav{
    color: white;
    font-family: 'Squada One', cursive;
    font-size: 25px;
    
}

#linkNav:hover{

    color:black;
}