@import url('https://fonts.googleapis.com/css?family=Homenaje|Saira|Saira+Extra+Condensed|Teko|Yanone+Kaffeesatz');

#notFound{
    font-family: 'Yanone Kaffeesatz', sans-serif;
/*font-family: 'Teko', sans-serif;
font-family: 'Saira Extra Condensed', sans-serif;
font-family: 'Saira', sans-serif;
font-family: 'Homenaje', sans-serif; */

}